@mixin display-flex {
    display: flex;
    align-items: center;
    gap: 20px
}
@mixin flex-column{
    @include display-flex();
    flex-direction: column;
}
@mixin btn-hover{
    background-color: $bg-base-color;
    color: white;
    box-shadow: 0 0 25px -3px $bg-base-color;
    transform: translateY(-2px);
}
@mixin container-responsive{
    @media (max-width:768px) {
        padding: 0 20px;
    }
    @media (max-width:576px){
        padding: 0 7px;
    }
}
@mixin btnWHover{
    cursor: pointer;
    padding: 7px 25px;
    border-radius: 30px;
    background-color: $bg-base-color;
    transition: 0.4s;
    color: white;
    font-weight: 600;
    &:hover {
        @include btn-hover;
    }
}