main {
    background-color: $bg-base-color;
    .swiper2-section {
        overflow: hidden;
        padding-bottom: 0;
    }
}
@media (max-width:991px) {
    .swiper2-section {
        padding-bottom: 0 !important;
    }
}