.home-main {
    padding: 7.2% 0;
    padding-bottom: 0;

    .concert-slides {
        padding: 0;
        background-color: $bg-base-color;
        padding-bottom: 2%;
    }

    .ticket-types {
        padding: 0;
        @include display-flex;
        background-color: $bg-base-color;
        gap: 0;

        .ticket-type {
            position: relative;
            transition: all 2s;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h1 {
                padding: 10px;
                text-align: center;
                width: 100%;
                color: white;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                font-weight: 900;
                font-size: 50px;
            }


            &::before {
                position: absolute;
                height: 6px;
                width: 60px;
                bottom: 6px;
                left: 50px;
                content: "";
                opacity: 0.8;
                background-color: $base-color1;
            }

            &:hover::before {
                animation: green-card-hover1 0.1s forwards, green-card-hover2 0.3s 0.1s forwards,

            }


        }

        .after-hover::before {
            animation: green-card-hover3 0.3s forwards,
                green-card-hover4 0.3s 0.2s forwards;
        }
    }

    .movies-for-children {
        background-color: $bg-base-color;
        overflow: hidden;
        padding: 70px 0;

    }
}


.swiper2 {
    padding: 0 !important;

    .swiper-wrapper {
        width: 100%;
        background-color: $bg-base-color;

        .swiper-slide {
            border-radius: 5px;
            margin-left: 0;
            overflow: hidden;
            width: 25%;
            background-color: $bg-base-color;

            img {
                position: relative;
                transition: .2s;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            &:hover img {
                transform: scale(1.2);
            }
        }
    }
}

.swiper2-heading {
    font-size: 35px;
    margin-left: 50px;
    color: white;
}


@keyframes green-card-hover1 {
    0% {
        height: 6px;
        width: 60px;
        left: 50px;
    }

    100% {
        left: 0;
        width: 100%;
    }
}

@keyframes green-card-hover2 {
    0% {
        width: 100%;
        left: 0;
    }

    100% {
        left: 0;
        width: 100%;
        height: calc(100% - 6px);
    }
}

@keyframes green-card-hover3 {
    0% {
        left: 0;
        width: 100%;
        height: calc(100% - 6px);

    }

    100% {
        left: 50px;
        width: 60px;
        height: calc(100% - 6px);
    }
}

@keyframes green-card-hover4 {
    0% {
        left: 50px;
        width: 60px;
        height: calc(100% - 6px);
    }

    100% {
        height: 6px;
    }
}


@media (max-width:991px) {
    .home-main {
        padding-top: 10%;

        .concert-slides {
            padding: 0 !important;
            padding-bottom: 2% !important;
        }

        .ticket-types {
            padding: 0 !important;

            .ticket-type {
                h1 {
                    font-size: 29px !important;
                }
            }
        }

    }

    .swiper2 {
        padding: 0 !important;

        .swiper-wrapper {
            .swiper-slide {
                width: 32% !important;
            }
        }
    }
}

@media (max-width:768px) {
    .home-main {
        padding-top: 12%;

        .concert-slides {
            padding-top: 10px !important;
        }

        .ticket-types {
            .ticket-type {
                h1 {
                    font-size: 20px !important;
                }
            }
        }

    }
}

@media (max-width:576px) {
    .home-main {
        padding-top: 0 !important;

        .concert-slides {
            .swiper1 {
                padding-top: 16% !important;
            }
        }

        .swiper {
            padding-top: 60px !important;
        }

        .movies-for-children {
            padding: 20px 0 !important;
        }
    }

    .swiper2 {
        .swiper-wrapper {
            margin: auto;
            width: 100% !important;

            .swiper-slide {
                background-color: $bg-base-color;

                img {
                    height: 250px !important;
                }
            }
        }
    }

    .swiper2-heading {
        text-align: center;
        margin-left: 0 !important;
    }
}

@media (max-width: 320px) {

    .concert-slides {
        .swiper1 {
            padding-top: 0px !important;
            padding-bottom: 0 !important;

            .swiper-slide {
                width: 100%;
            }
        }
    }

    .ticket-types {
        @include flex-column;
        gap: 0;

        .ticket-type {
            height: 340px;
            width: 100%;
            object-fit: none;

            h1 {
                font-size: 25px;
            }

            &::before {
                display: none;
            }
        }
    }

}