header {
    position: fixed;
    width: 100%;
    z-index: 999;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    .container {
        @include display-flex;
        justify-content: space-between;
        position: relative;

        &::before {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: $base-color1
        }

        .logo-header {
            a {
                img {
                    transform: rotate(5deg);
                    width: 6rem;
                }
            }
        }

        .list-part-header {
            .ul-header {
                @include display-flex;
                gap: 40px;

                .li-header {
                    position: relative;
                    font-weight: 300;

                    &::before {
                        position: relative;
                        content: "";
                        background-color: $bg-base-color;
                        height: 5px;
                        top: 60px;
                        display: block;
                        width: 0;
                        transition: all 0.2s;
                    }

                    a {
                        padding: 40px 0;
                        color: white;
                    }

                    &:hover::before {
                        width: 100%;
                    }

                    .dropdown {
                        z-index: 999;
                        width: 9rem;
                        position: absolute;
                        opacity: 0;
                        left: 30%;
                        top: 4rem;
                        background-color: $base-color1;
                        transition: all 0.3s;
                        padding: 14px 10px;
                        border-radius: 3px;

                        .ul-dropdown {
                            top: 100%;
                            @include flex-column;
                            gap: 0px;

                            .dropdown-li {
                                width: 100%;
                                padding: 3px 0;
                                border-bottom: 1px solid rgba(255, 255, 255, 0.297);
                                padding-bottom: 5px;

                                &:last-child {
                                    border: none
                                }

                                a {
                                    @include display-flex;
                                    padding: 0px;

                                    i {
                                        font-size: 13px;
                                    }
                                }

                                &::before {
                                    position: relative;
                                    content: "";
                                    background-color: $bg-base-color;
                                    height: 3px;
                                    top: 27px;
                                    display: block;
                                    width: 0;
                                    transition: all 0.2s;
                                }

                                &:hover {
                                    &::before {
                                        width: 40%;
                                    }
                                }
                            }
                        }
                    }

                    &:hover .dropdown {
                        left: 0;
                        opacity: 1;
                    }

                    &:last-child::before {
                        width: 100%;
                        display: none
                    }

                    .login-register {
                        @include display-flex;

                        .login-register-part {
                            &::before {
                                display: none;
                            }
                        }

                        &::before {
                            display: none;
                        }
                    }
                }

                .profileLogOut {
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    position: relative;

                    border-radius: 50%;
                    overflow: hidden;
                    .profilePhotoDiv {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        // overflow: hidden;
                        .profilePhoto {
                            display: block;
                            width: 100%;
                            height: 100%;

                            img {
                                top: 0;

                                position: absolute;
                                border: 1px solid white;
                                width: 100%;
                                height: 100%;
                                z-index: 999;
                                object-position: center;
                                // object-fit: cover;
                            }
                        }
                    }
                }

                #logOut {
                    background-color: $bg-base-color !important;
                    border: none;
                    color: white;
                    cursor: pointer;
                }
            }
        }

        .menu-bar-responsive {
            display: none;
            z-index: 1;

            .fa-bars {
                font-size: 20px;
                color: white;
            }
        }
    }
}



@media (max-width:991px) {
    header {
        .container {
            .list-part-header {
                .ul-header {
                    gap: 20px;
                }
            }
        }
    }
}

@media(max-width:768px) {
    header {
        .container {
            .list-part-header {
                .ul-header {
                    gap: 10px;

                    .li-header {
                        font-size: 15px;

                        .login-register {
                            gap: 10px;

                            .login-register-part {
                                padding: 5px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    header {
        .container {
            .logo-header {
                img {
                    width: 4.5rem !important;
                }
            }

            .list-part-header {
                display: none;
            }

            .menu-bar-responsive {
                display: block;
            }
        }
    }
}

@media (max-width:320px) {
    header {
        .container {
            .logo-header {
                img {
                    width: 3rem !important;
                }
            }

            .list-part-header {
                display: none;
            }

            .menu-bar-responsive {
                display: block;
            }
        }
    }
}